.business-card-container,
.business-card-container * {
  box-sizing: border-box;
}

.business-card-container {
  /* positioning */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /* layout */
  padding: var(--content-spacing-medium);
  border-radius: var(--border-radius-medium);

  /* dimensions */
  aspect-ratio: 3.5 / 2;
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: auto;

  /* colors */
  background-color: var(--neutrals-white);
  color: var(--neutrals-black);
  box-shadow: var(--content-shadow);

  /* fonts */
  font-family: var(--default-font-family);
}

.business-card-container .business-card-left {
  /* layout */
  margin: 40px;
}

.business-card-container .avatar-container {
  /* dimensions */
  width: 140px;
  height: 140px;

  /* layout */
  border-radius: var(--border-radius-50);
}

.business-card-container .business-card-name {
  /* fonts */
  font-size: var(--font-size-large);

  /* colors */
  color: var(--utils-gray-dark);

  /* layout */
  margin-bottom: var(--content-spacing-small);
}

.business-card-container .business-card-title {
  /* fonts */
  font-size: var(--font-size-medium);

  /* colors */
  color: var(--utils-gray-light);
}

@media (orientation: portrait) {
  .business-card-container {
    /* positioning */
    flex-direction: column;

    /* dimensions */
    aspect-ratio: 2 / 3.5;
    height: 100%;
    max-height: 500px;
    width: auto;
    max-width: auto;
  }
}
