*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  /* layout */
  margin: 0;
  padding: 0;

  /* dimensions */
  width: 100%;
  min-height: 100vh;
}

body {
  /* positioning */
  display: flex;
  justify-content: center;
  align-items: center;

  /* colors */
  background-color: #dee4e7;
  color: darkslategray;
}

#card {
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* dimensions */
  width: 100%;
  height: 100%;
  
  /* layout */
  padding: 40px;
}
